<div *ngIf="selectedProduct">

    <h2>{{selectedProduct.productName | uppercase}} Details</h2>

    <div><label>id: {{selectedProduct.id}}</label></div>

    <div>
        <label>Product name: </label>
        <input [(ngModel)]="selectedProduct.productName" placeholder="Product name">
    </div>

    <div>
        <label>Description: </label>
        <input [(ngModel)]="selectedProduct.description" placeholder="Description">
    </div>

    <div>
        <button (click)="saveProduct()">
            Save
        </button>

        <button (click)="revertChanges()">
            Revert changes
        </button>

        <button (click)="deleteProduct()">
            Delete
        </button>

    </div>
</div>